.file-button{
    display: none;
}
.file-trigger-button{
    background-color: skyblue;
    border:1px solid lightblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor:pointer;
}
.file-trigger-button:hover{
    background-color: aqua;
}

.container{
    width:800px;
    height: 400px;
    border: 1px solid gray;
    /* overflow : 박스 밖을 나갈 때 
    offset을 사용할떄는 relative*/
    position:relative;
    overflow :hidden;
}
.box{
    width:100px;
    height:100px;
    background: orange;
    position:absolute;
}

.dropzone{
    width:200px;
    height:200px;
    border: 1px solid gray;
}
